BODY {
  font-family: sans-serif;
  font-size: 12pt;
}

H1 {
  color: blue;
  text-shadow: 1px 1px 1px gray;
}

H2 {
  color: darkblue;
  text-shadow: 1px 1px 1px darkgray;
}

LI {
  margin-bottom: 1em;
  list-style-type: none;
}

A.title {
  color: darkgreen;
  text-decoration: none;
  line-height: 1.5em;
}

STRONG.breaking {
  background-color: yellow;
}

A.user {
  text-decoration: none;
  line-height: 1.5em;
}

SMALL.hint {

}

DIV.settings-container {
  display: none;
}

DIV.settings {
  margin-bottom: 1em;
  background-color: lightgray;
  border-radius: 5px;
  border: solid 1px black;
  padding: 0.5em;
}

SPAN.value {
  color: maroon;
  font-weight: bold;
}