BODY {
  font-family: sans-serif;
  font-size: 12pt;
}

H1 {
  color: blue;
  text-shadow: 1px 1px 1px gray;
}

H2 {
  color: darkblue;
  text-shadow: 1px 1px 1px darkgray;
}

LI {
  list-style-type: none;
}

LI.article-cluster {
  margin-bottom: 1em;
  background-color: #EEF3E2;
  border: solid 1px #458B74;
  padding: 0.5em;
}

A.title {
  color: darkgreen;
  text-decoration: none;
  line-height: 1.5em;
}

UL.social-network-results {
  margin-left: 2em;
  background-color: #FFFFF2;
}

IMG.avatar {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  vertical-align: middle;
}

SPAN.condition {
  margin-right: 1em;
  background-color: lightgray;
}

SPAN.condition-true {
  font-weight: bold;
  color: green;
}

SPAN.condition-false {
  font-weight: bold;
  color: red;
}

STRONG.breaking {
  background-color: yellow;
}

A.user {
  text-decoration: none;
  line-height: 1.5em;
}

DIV.changes {
  display: none;
  position: fixed;
  left: 2em;
  top: 2em;
  width: 600px;
  height: 600px;
  overflow: auto;
  z-index: 1000;
  background-color: white;
  padding: 0.5em;
  border: solid black 2px;
  border-radius: 5px;
}

DIV.settings-container {
  display: none;
  position: fixed;
  left: 2em;
  top: 2em;
  z-index: 1000;
  background-color: white;
  padding: 0.5em;
  border: solid black 2px;
  border-radius: 5px;
}

DIV.settings {
  margin-bottom: 1em;
  background-color: lightgray;
  border-radius: 5px;
  border: solid 1px black;
  padding: 0.5em;
}

#followCallToAction {
  font-size: 0.7em;
  background-color: yellow;
  position: absolute;
  top: 25px;
  right: 400px;
}

#followWidget {
  position: absolute;
  top: 20px;
  right: 80px;
}

SPAN.value {
  color: maroon;
  font-weight: bold;
}

SPAN.new-page {
  color: white;
  background-color: blue;
}

A.about {
  color: red;
  position:absolute;
  right: 7em;
}

A.settings {
  position: absolute;
  right: 1em;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

/* this is the original CSS from Wikipedia: http://bits.wikimedia.org/zh.wikipedia.org/load.php?debug=false&lang=zh&modules=mediawiki.action.history.diff&only=styles&skin=vector&* */
table.diff,td.diff-otitle,td.diff-ntitle{background-color:white}
td.diff-otitle,td.diff-ntitle{text-align:center}
td.diff-marker{text-align:right;font-weight:bold;font-size:1.25em}
td.diff-lineno{font-weight:bold}
td.diff-addedline,td.diff-deletedline,td.diff-context{font-size:88%;vertical-align:top;white-space:-moz-pre-wrap;white-space:pre-wrap}
td.diff-addedline,td.diff-deletedline{border-style:solid;border-width:1px 1px 1px 4px;border-radius:0.33em}
td.diff-addedline{border-color:#a3d3ff}
td.diff-deletedline{border-color:#ffe49c}
td.diff-context{background:#f3f3f3;color:#333333;border-style:solid;border-width:1px 1px 1px 4px;border-color:#e6e6e6;border-radius:0.33em}
.diffchange{font-weight:bold;text-decoration:none}
table.diff{border:none;width:98%;border-spacing:4px;table-layout:fixed}
td.diff-addedline .diffchange,td.diff-deletedline .diffchange{border-radius:0.33em}
td.diff-addedline .diffchange{background:#d8ecff}
td.diff-deletedline .diffchange{background:#feeec8}
table.diff td{padding:0.33em 0.66em}
table.diff col.diff-marker{width:2%}
table.diff col.diff-content{width:48%}
table.diff td div{word-wrap:break-word;overflow:auto}
